
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;

  overflow: hidden;  
}

.colluded{
  background-color: rgb(240, 237, 237);
  transition: 0.3s all ease-in-out;

  .oops{
    display: block;
  }
}

.oops{
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 180px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
  display: none;
}

.emoji{
  animation: chicago 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes chicago {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes outwest {
  0% {
    background-size: 180%;
  }

  100%{
    background-size: 100%;
  }
}

.splash{
  background-image: url("./bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: outwest 1s 0s forwards ease-in-out;
}

.welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1{
    font-size: 50px;
    margin: 0px;
    padding-bottom: 20px;
  }

  label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  p.random{
    font-size: 20px;
    cursor: pointer; 
    transition: 0.3s color ease-in-out;
    margin-top: 0px;
    color: #FF5678;

    &:hover{
      color: #333;
    }
  }

  input{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border: 3px solid #000;
    border-radius: 50px;
    padding: 10px 20px;
    outline: 0;
    font-size: 22px;
    transition: 0.3s border ease-in-out;

    &:focus, &:active{
      border: 3px solid #FF5678;
    }
  }

  button{
    padding: 15px 35px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    border: 0px;
    outline: 0;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s background ease-in-out;

    &:hover{
      background-color: #FF5678;
    }
  }
}
 
.user{
  width: 25px; 
  height: 25px;
  background-color: red;
  border-radius: 50px 50px 50px 0px;
  position: absolute;
  z-index: 999; 
  pointer-events: none;
  cursor: none;

  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
}

/**
 * Canvas
 */


.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: none;
}

.toolbar{
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  user-select: none;

  .buttons{
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    display: flex;
  }

  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    height: 50px;

    .eraser{
      background-color: #fff;
    }
    
  }

  .eraser.active{
    background-color: #333;

    svg{
      fill: white;
    }

    span{
      display: none;
    }
  }

  .eraser{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;

    svg{
      width: 30px;
      height: 30px;
      pointer-events: none;
    }
  }

  .btn{
    margin-left: 20px;
    transition: 0.3s all ease-in-out;
    height: 50px;
    text-align: center;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    
    div{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 50px 0px 0px 50px;
      
    }

    span{
      background-color: #fff;
      display: block;
      height: 50px;
      line-height: 50px;
      padding-right: 20px;
      border-radius: 0px 50px 50px 0px;
    }

    svg{
      width: 20px;
      height: 20px;
      pointer-events: none;
    }

    .feather-lock{
      display: none;
    }

    &:hover{
      transform: translateY(-3px);
    }
  }

  .locked{
    
    color: #fff;

    span, div{
      background-color: #333333;
    }

    .feather-lock{
      display: block;
    }

    .feather-unlock{
      display: none;
    }
  }



  .player-count{
    position: fixed;
    right: 20px;
    z-index: 999;
    user-select: none;
  }
}

.custom{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.color, .custom { 
  display: flex; 
  height: 48px; 
  width: 48px; 
  border-radius: 50px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s transform ease-in-out;

  justify-content: center;
  align-items: center;

  span{
    display: none;
    color: #fff;
    padding-top: 2px;
  }
}


.color.active, .custom.active{
  span{
    position: absolute;
    display: block;
  }
}

.color:hover{
  transform: translateY(-3px);
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
  
.brush{
	width: 200px;
	max-width: 100%;
	padding-left: 20px;
	box-sizing: border-box;
  position: relative;
  

  // input range animation from https://codepen.io/brandonmcconnell/pen/oJBVQW
	input[type="range"] {
		outline: 0;
		border: 0;
		border-radius: 500px;
		width: 100%;
		max-width: 100%;
    margin: 0px;
    height: 50px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);

		& {
      overflow: hidden;
      height: 50px;
      -webkit-appearance: none;
      background-color: #e9eaed;
    }
    &::-webkit-slider-runnable-track {
      height: 50px;
      -webkit-appearance: none;
      color: #444;
      // margin-top: -1px;
      transition: box-shadow 0.2s ease-in-out;
    }
    &::-webkit-slider-thumb {
      width: 50px;
      -webkit-appearance: none;
      height: 50px;
      cursor: ew-resize;
      box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
      border: 5px solid #e9eaed;
      border-radius: 50%;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;
    }

    &:active::-webkit-slider-thumb {
      box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
    }
  }
  
  #h4-container {
    width: 400px;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    
    #h4-subcontainer {
      width: 100%;
      position: relative;

      h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 40px;
        height: 40px;
        color: #fff;
        font-size: 12px;
        transform-origin: center -10px;
        transform: translateX(-50%);
        transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;

        span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #1597ff;
          border-radius: 50%;
          transform: rotate(45deg);
          z-index: -1;
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  
  input:not(:active) + #h4-container h4 {
    opacity: 0;
    margin-top: -50px;
    pointer-events: none;
  }
}