/**
 * Fix user-agent
 */
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
  overflow: hidden; }

.colluded {
  background-color: #f0eded;
  transition: 0.3s all ease-in-out; }

.colluded .oops {
  display: block; }

.oops {
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 180px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
  display: none; }

.emoji {
  animation: chicago 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes chicago {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.splash {
  background: linear-gradient(1800deg, #d82881 10%, #8d27da); }

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.welcome h1 {
  font-size: 50px;
  margin: 0px; }

.welcome label {
  display: block;
  font-size: 30px; }

.welcome input {
  margin: 20px 0;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  padding: 0 20px;
  border: 0;
  outline: 0;
  font-size: 25px; }

.welcome button {
  padding: 15px 35px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  border: 0px;
  outline: 0;
  font-size: 20px;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.3s all ease-in-out; }

.welcome button:hover {
  border: 5px solid red; }

.user {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50px 50px 50px 0px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  cursor: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25); }

/**
 * Canvas
 */
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: none; }

.toolbar {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.toolbar .buttons {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  display: flex; }

.toolbar .colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 50px; }

.toolbar .eraser {
  display: flex;
  align-items: center;
  justify-content: center; }

.toolbar .eraser svg {
  width: 30px;
  height: 30px;
  pointer-events: none; }

.toolbar .btn {
  margin-left: 20px;
  transition: 0.3s all ease-in-out;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  border: 3px solid transparent; }

.toolbar .btn svg {
  width: 30px;
  height: 30px;
  pointer-events: none; }

.toolbar .btn:hover {
  transform: translateY(-3px); }

.toolbar .locked {
  background-color: #333333;
  border: 5px solid #333333; }

.toolbar .player-count {
  position: fixed;
  right: 20px; }

.color {
  display: flex;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  transition: 0.3s transform ease-in-out;
  justify-content: center;
  align-items: center; }

.color span {
  display: none; }

.color.active span {
  position: absolute;
  display: block; }

.color:hover {
  transform: translateY(-3px); }

.color.black {
  background-color: black; }

.color.red {
  background-color: red; }

.color.green {
  background-color: green; }

.color.blue {
  background-color: blue; }

.color.yellow {
  background-color: yellow; }
